---
import type {Playlist} from "@/lib/data";
import PlayingPlaylistIcon from "@/components/PlayingPlaylistIcon";
import {Pinned} from "@/icons/AsideIcons";
import {songs} from "@/lib/data";

interface Props
{
    playlist: Playlist;
    pinned?: boolean;
};

const {playlist, pinned} = Astro.props;
const {id, cover, title, artists, albumId} = playlist;
const playlistSongs = songs.filter(song => song.albumId === albumId);
---


<li class="px-2">
    <a href={`/playlist/${id}`} class="h-16 w-full p-2 gap-3 flex items-center rounded-[8px] hover:bg-[#1a1a1a] transition duration-100" transition:name={`aside-playlist-${id}-container`}>
        <picture class="size-12 flex-none">
            <img src={cover} alt={`${title} cover`} class="size-full rounded-[4px]" transition:name={`aside-playlist-${id}-img`}/>
        </picture>
        
        <div class="w-full h-full flex flex-row justify-between">
            <div class="flex flex-col items-start">
                <PlayingPlaylistIcon id={id} type="title" title={title} client:idle/>
                
                <div class="flex items-center gap-2">
                    {
                        pinned && <Pinned styles="h-3 w-3 fill-[#1DB954]"/>
                    }
                    
                    <span class="text-secondary text-sm line-clamp-1">{playlistSongs[0].artists.join(", ")}</span>
                </div>
            </div>
            
            <div class="h-full w-8 p-2 flex items-center justify-center">
                <PlayingPlaylistIcon id={id} type="aside" client:idle/>
            </div>
        </div>
    </a>
</li>