---
import type {Playlist} from "@/lib/api";
import PlayButton from "@/components/PlayButton";
import PlayingPlaylistIcon from "@/components/PlayingPlaylistIcon";

interface Props
{
    playlist: Playlist;
};

const {playlist} = Astro.props;
const {id, cover, title} = playlist;
---


<li class="group relative">
    <a id="header-playlist" href={`/playlist/${id}`} class="h-16 w-[366px] gap-4 flex justify-between items-center rounded-[4px] bg-[#ffffff12] group-hover:bg-[#414141] transition duration-100 shadow-md shadow-black/5">
        <picture class="size-16 flex-none">
            <img src={cover} alt={`${title} cover`} class="size-full rounded-[4px]"/>
        </picture>
        
        <div class="w-full">
            <h2 class="font-bold text-start line-clamp-2">{title}</h2>
        </div>
        
        <div class="w-16">
            <PlayingPlaylistIcon id={id} type="top" client:idle/>
        </div>
    </a>
    
    <div class="absolute right-2 top-2 opacity-0 group-hover:opacity-100 z-10">
        <PlayButton id={id} client:idle />
    </div>
</li>