---
import Layout from "../layouts/Layout.astro";
import MainHeader from "@/components/MainHeader";
import HeaderPlaylistCard from "@/components/HeaderPlaylistCard.astro";
import MainPlaylistCard from "@/components/MainPlaylistCard.astro";
import {playlists} from "@/lib/api";

const currentDate = new Date();
const currentTime = currentDate.getHours();
const color = "red";
---


<Layout title="Spotify-clone">
    <div id="main-container" class="relative h-full w-full py-2 px-6 rounded-lg bg-[#121212] z-10">
        
        <header>
            <MainHeader color="" client:load/>
            
            <div class="flex items-center py-2">
                <h2 class="font-bold text-3xl">
                    {
                        currentTime >= 20 || currentTime < 6 ? "Good night"
                        :
                        currentTime >= 12 ? "Good afternoon"
                        :
                        "Good morning"
                    }
                </h2>
            </div>
        </header>
        
        <ul class="h-40 w-full pt-2 gap-x-3 grid grid-cols-4 grid-rows-2">
            {
                playlists.map(playlist => <HeaderPlaylistCard playlist={playlist} isPlaying={false} />)
            }
        </ul>
        
        <div class="w-full mt-7">
            <h2 class="font-bold text-2xl">Made for you</h2>
            
            <ul class="flex -ml-3">
                {
                    playlists.map(playlist => <MainPlaylistCard playlist={playlist} isPlaying={false} />)
                }
            </ul>
        </div>
    </div>
</Layout>


<script>
    // const headerPlaylist = document.getElementById("header-playlist");
    // const gradientContainer = document.getElementById("gradient-container");
    // colo
    // headerPlaylist?.addEventListener("mouseover", e => {
    //     // gradientContainer
        
    // });
</script>