---
import type {Playlist} from "@/lib/api";
import {AddSong, Play, Pause, Previous, Next, Shuffle, Repeat, Volume} from "@/icons/PlayerIcons";

interface Props
{
    playlists: Playlist[];
};

const {playlists} = Astro.props;
const {cover, title, artists} = playlists[0];
---


<div class="h-full w-full bg-[#000] rounded-lg grid grid-cols-3">
    <div class="gap-4 p-2 flex items-center">
        <picture class="size-14">
            <img src={cover} alt={`${title} cover`} class="size-full rounded-[4px]">
        </picture>
        
        <div class="gap-0.5 flex flex-col justify-center">
            <a href="/#" class="text-sm font-normal line-clamp-1 hover:underline">{title}</a>
            
            <div class="text-xs text-[#b3b3b3] truncate">
                {
                    artists.map((artist, index) => {
                        return (
                            <span class="inline-flex">
                                <a href="/#" class="hover:underline hover:text-white">{artist}</a>
                                {
                                    index + 1 < artists.length && <>,&nbsp;</>
                                }
                            </span>
                        )
                    })
                }
            </div>
        </div>
        
        <button>
            <AddSong styles="size-4 fill-[#b3b3b3] hover:fill-white transition duration-100 hover:scale-105"/>
        </button>
    </div>
    
    <div class="mb-5 flex flex-col justify-center items-center">
        <div class="flex">
            <button class="m-3">
                <Shuffle styles="fill-[#1DB954] h-4 w-4"/>
            </button>
            <button class="m-3">
                <Previous styles="fill-current h-4 w-4"/>
            </button>
            <button class="bg-white rounded-full p-2 m-2">
                <Play styles="fill-black h-4 w-4"/>
            </button>
            <button class="m-3">
                <Next styles="fill-current h-4 w-4"/>
            </button>
            <button class="m-3">
                <Repeat styles="fill-[#1DB954] h-4 w-4"/>
            </button>
        </div>
        
        <div>
            
        </div>
    </div>
    
    <div class="">
        <!-- <button class="m-3">
            <Volume styles="fill-current h-4 w-4" type="high"/>
        </button> -->
    </div>
</div>