---
import Aside from "@/components/Aside/Aside.astro";
import Player from "@/components/Player/Player.jsx";
import {ViewTransitions} from "astro:transitions";
import {playlists} from "@/lib/data";

interface Props
{
    title: string;
};

const {title} = Astro.props;
---


<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="canonical" href="https://spotifyclone-astro.vercel.app">
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    
    <body>
        <div id="app" class="relative h-screen p-2 gap-2">
            <aside class="[grid-area:aside] overflow-y-auto">
                <Aside playlists={playlists} />
            </aside>
            
            <main class="[grid-area:main] overflow-y-auto">
                <slot/>
            </main>
            
            <footer class="[grid-area:player] overflow-y-hidden">
                <Player transition:name="player" transition:persist client:load />
            </footer>
        </div>
    </body>
</html>


<style>
    #app
    {
        display: grid;
        grid-template-areas:
        "aside main main"
        "player player player";
        grid-template-columns: 350px 1fr;
        grid-template-rows: 1fr 75px;
    }
</style>

<style is:global>
    html
    {
        height: 100vh;
        width: 100vw;
        color: #fff;
        background: #000;
        font-family: "CircularSp", system-ui, sans-serif;
    }
    
    @font-face
    {
        font-family: "CircularSp";
        src: url("/fonts/CircularSp-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face
    {
        font-family: "CircularSp";
        src: url("/fonts/CircularSp-Book.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face
    {
        font-family: "CircularSp";
        src: url("/fonts/CircularSp-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face
    {
        font-family: "CircularSp";
        src: url("/fonts/CircularSp-Book.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face
    {
        font-family: "CircularSp";
        src: url("/fonts/CircularSp-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face
    {
        font-family: "CircularSp";
        src: url("/fonts/CircularSp-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face
    {
        font-family: "CircularSp";
        src: url("/fonts/CircularSp-Black.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }
</style>